<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<meta name="description" content="">
  	<meta name="keywords" content="">
  	<meta name="author" content="">
  	<title>YACHT</title>
  	<!-- Styles -->
  	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  	<style>
  	</style>
  </head>
  <title>YACHT</title>
  <body>
    <img id="cursor" src="/images/mousecursor.jpg">
  	<!-- Content -->
  	<div class="container">
  		<div class="row">
  			<div class="col-md-12">
  				<h3>Try Drawing Below!</h3>
  			</div>
  		</div>
      <div class="row">
        <div class="col-md-12">
          <button class="btn btn-primary" id="clearBtn">Clear Screen</button>
        </div>
      </div>
  		<div class="row">
  			<div class="col-md-12">
          <canvas id="collab-canvas" width="1000px" height="600px"
            style="position: absolute; left: 0; top: 10px; z-index: 1;"></canvas>
          <canvas id="mouse-canvas" width="1000px" height="600px"
            style="position: absolute; left: 0; top: 10px; z-index: 0;"></canvas>
  		 	</div>
  		</div>
  		<br/>
  	<!-- Scripts -->
  	<script src="https://code.jquery.com/jquery-2.1.0.min.js"></script>
  	<script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  	<!--<script src="https://code.angularjs.org/snapshot/angular.min.js"></script>-->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
