<!DOCTYPE HTML>
<html ng-app="yachtApp">
  <head>
    <meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<meta name="description" content="">
  	<meta name="keywords" content="">
  	<meta name="author" content="">
  	<title>YACHT</title>
  	<!-- Styles -->
  	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  	<style>
  	</style>
  </head>
  <title>YACHT</title>
  <body ng-controller="RoomController" id="mainBody">

  	<!-- Content -->
  	<div class="container fill">
  		<div class="row">
  			<div class="col-md-12">
  				<h3>Try Drawing Below!</h3>
  			</div>
  		</div>
      <div class="row">
        <div class="col-md-3">
          <input type="text" class="form-control" id="username" placeholder="Enter Username"/>
        </div>
        <div>
          <button class="btn btn-primary" id="enterUser">Change Username</button>
        </div>
      </div>
      <br/>

      <div class="row">
        <div class="col-md-2">
          <button class="btn btn-primary" id="clearBtn">Clear Screen</button>
        </div>
      </div>

  		<div class="row draw-area">
  			<div class="col-md-1" width="1050px" height="600px">
          <canvas id="collab-canvas" width="1050px" height="600px"
            style="position: absolute; left: 0; top: 10px; z-index: 0;"></canvas>
          <canvas id="mouse-canvas" width="1050px" height="600px"
            style="position: absolute; left: 0; top: 10px; z-index: 1;"></canvas>
  		 	</div>
  		</div>

  		<br/>
      <div class="row">
        <div class="col-md-11">
          <table id="userTable" class="table-bordered"  width="100%">
            <tr>
              <th>
                Username
              </th>
              <th>
                Color
              </th>
              <th>
                Time Joined
              </th>
            </tr>
            <tr ng-repeat="user in users">
              <td>{{user.name}}</td>
              <td>{{user.color}}</td>
              <td>{{user.inserted_at}}</td>
            </tr>
          </table>
        </div>
      </div>
      <img id="cursor" src="/images/mousecursor.jpg" style="visibility:hidden;">
  	<!-- Scripts -->
  	<script src="https://code.jquery.com/jquery-2.1.0.min.js"></script>
  	<script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="https://code.angularjs.org/snapshot/angular.min.js"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
